---
import { AstroComponentInstance } from "astro/dist/runtime/server";

// const header = Astro.props.header;
// const text = Astro.props.text;

const { header } = Astro.props;
---

<article>
  <h2>{header}</h2>
  <p>kortere lorem ipsum</p>
  <slot />
</article>

<style>
  p {
    color: red;
  }
</style>
